*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg, #536DFE,#1DE9B6);

}
img{
  height: 4rem;
  width: 4rem;
}
.form-group{
    position: relative;
    transform: translateY(40vh);
    padding: 12px;
}
.form-control{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

.form-control:focus{
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid blue;
}
label{
    color: white;
    position: absolute;
    top: 10px;
    transition: .3s all ease;

}
.form-control:focus + label{
    top:-3px;
    left:10px;
    font-size: 14px;
    padding-left: 6px;
    margin: 0;
}
button[type="submit"]{
    background-image: linear-gradient(40deg, #536DFE,#FFFFFF);
    border-radius: 50px;
    border: none;
    margin-top: 1rem;
    font-variant: small-caps;
    color: black;
    outline: none;
}
button[type="submit"]:active{
    background-image: linear-gradient(45deg, #536DFE,#FFFFFF);;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 35%;
    color: white;
}